---
layout: base.njk
title: Make COVID Great Again
---

<main id="main" class="px-4 max-w-md mx-auto">
<div class="text-center">
    <img src="/static/corona.png" alt="Corona icon" class="w-12 mx-auto my-4">
    <h1 class="font-bold text-3xl mb-2">
        Do they have COVID yet?        
    </h1>
    <p class="text-gray-700 font-light" title="{{ pkg.version }}">
        Minimal contact tracing for the White House
    </p>
</div>
<div>
    <ul class="my-4">
        {% for item in people %}
            <li class="my-2">
                {{item.name}}
            </li>
        {% endfor %}
    </ul>

    <footer class="text-sm text-gray-500 text-center">
       <p class="flex items-center justify-center">
        <p>Wear a mask.</p>
    </footer>
</div>
</main>